@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 100%;
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
  color: inherit;
}

.row {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.container {
  padding: 20px 0;
  width: 100%;
}

/* NAVBAR */

.nav{
  height: 64px;
}
.nav__text{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__text--company{
  font-size: 12px;
  font-weight: bold;
  margin-right: 5px;
  letter-spacing: -0.05em;
}
.nav__text--page{
  font-size: 12px;
}
.nav__btn{
  background-color: black;
  color: white;
  padding: 7px 10px;
  font-size: 10px;
}
.nav__wrapper{
  display: flex;
  justify-content: space-between;
}
.nav__left{
  display: flex;
}

/* LANDING */

.landing__content{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;
  align-items: center; */
  width: 100%;
}
.landing__upper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.landing__lower{
  position: absolute;
  bottom: 50px;
}
.landing__left
.landing__right{
  display: flex;
  justify-content: center;
  position: relative;
}
.landing__left--btn,
.landing__right--btn{
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
  margin-left: 5%;
}
.rectangle__left
.rectangle__right{
  position: absolute;
  z-index: -1;
}
.content__title--text{
  font-size: 90px;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  line-height: 1;
}
.landing__content--text{
  width: 400px;
  font-size: 16px;
  margin-left: 10px;
}

/* TESTING */

.testing__row{
  
}
.testing__wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.demographics__input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  width: 500px;
  position: absolute;
}
.input__title{
  font-size: 14px;
  font-weight: 400;
}
.demographics__input--text{
  text-align: center;
  font-size: 60px;
}
.demographics__input--text:focus{
  outline: none;
  box-shadow: none;
}
.rombuses__img{
  height: 600px;
}

/* RESULT */

.results__wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.results__rombuses{
  margin-right: 100px;
}
.results__rombuses--img{
  width: 500px;
  height: 500px;
}
.camera__img,
.camera__text,
.gallery__img,
.gallery__text{
  position: absolute;
}
.camera__img{
  left: 315px;
  top: 190px;
  transition: 500ms ease;
}
.camera__img:hover{
  transform: scale(1.1);
}
.camera__text{
  left: 430px;
  top: 148px;
}
.gallery__img{
  right: 410px;
  top: 190px;
  transition: 500ms ease;
}
.gallery__img:hover{
  transform: scale(1.1);
}
.gallery__text{
  right: 519px;
  top: 300px;
}

/* SELECT */

.select__wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.select__title{
  font-weight: bold;
}
.select__rombuses--img{
  width: 700px;
}
.dem__btn, 
.cosmetic__btn,
.weather__btn,
.skin__btn{
  position: absolute;
}
.dem__btn{
  cursor: pointer;
  transition: 300ms ease;
}
.dem__btn:hover{
  transform: scale(1.05)
}
.dem__btn{
  top: 120px;
}
.weather__btn{
  top: 353px;
}
.skin__btn{
  left: 507px;
}
.cosmetic__btn{
  right: 507px;
}
.page__buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}
.page__buttons--text{
  color: gray;
  font-size: 14px;
}

/* DEMOGRAPHICS */

.demographics__row{
  width: 100%;
}
.demographics__text{
  margin-bottom: 3%;
  line-height: 1;
  margin-left: 0;
}
.demographics__title{
  font-size: 64px;
}
.demographics__wrapper{
  width: 100%;
  display: flex;
  gap: .5em;
}
.categories{
  width: 15%;
}
.race,
.age,
.sex{
  height: 80px;
  width: 100%;
  background-color: rgb(242, 242, 255);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
  border-top: solid black 1px;
  cursor: pointer;
}
.select__btn{
  transition: 300ms ease;
}
.select__btn:hover{
  background-color: rgb(217, 228, 238);
}
.select__btn.selected{
  background-color: #242424;
  color: #fff;
}
.option__btn:not(:focus-within):hover{
  background-color: rgb(217, 228, 238);
}
.option__btn:focus-within{
  background-color: #242424;
  color: #fff;
}
.option__btn input[type="radio"]{
  appearance: none;
  width: 10px;
  height: 10px;
  border: 2px solid #777;
  transform: rotate(45deg);
  background-color: rgb(242, 242, 255);
  cursor: pointer;
  margin-top: 7px;
  margin-right: 5px;
}
.options__btn input[type="radio"]:checked{
  background-color: white;
}
.category__option{
  margin-top: 5px;
}
.display{
  height: 450px;
  width: 65%;
  background-color: rgb(242, 242, 255);
  border-top: solid black 1px;
}
.display__title{
  font-size: 42px;
  padding: 10px 20px;
}
.content{
  width: 20%;
  height: 100%;
  min-height: 450px;
  background-color: rgb(242, 242, 255);
  border-top: solid black 1px;
}
.content__title{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 18px;
}
.races__btns,
.ages__btns,
.sex__btns {
  display: flex;
  flex-direction: column;
  
}
.races__btn,
.ages__btn,
.sex__btn {
  display: flex;
  padding: 10px;
}
.radio__btn{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.races,
.ages,
.sexes {
  text-align: left;
  font-size: 18px;
  padding-left: 10px
}
.proceed__btns{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
}
.reset__btn{
  font-size: 12px;
  padding: 5px;
  height: 28px;
  width: 60px;
  border: 2px solid black;
}
.confirm__btn{
  font-size: 12px;
  padding: 5px;
  height: 28px;
  width: 72px;
  background-color: black;
  color: white;
}
.percentage__ring{
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}
.percentage__ring--outer{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.percentage__ring--inner{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CAMERA MODAL */

.modal__wrapper{
  /* height: 100px;
  width: 250px; */
  display: flex;
  flex-direction: column;
}
.upper__modal,
.lower__modal{
  background-color: #242424;
  color: #fff;
}
.upper__modal{
  border-bottom: solid 1px white;
  height: 75px;
  width: 275px;
}
.lower__modal{
  display: flex;
  justify-content: flex-end;
  height: 30px;
  width: 275px;
}
.modal__btn{
  padding: 6px 12px;
  cursor: pointer;
}
.modal__text{
  font-size: 12px;
  padding: 8px;
}
.modal__text--btn{
  font-size: 10px;
  letter-spacing: 1.05;
}

/* LOADING PAGES */

.loading__wrapper{
  display: flex;
  flex-direction: column;
}
.loading__upper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.loading__analysis--text{
  position: absolute;
}
.loading__camera--text{
  position: absolute;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;  
}
.picture__guidelines{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.picture__guidelines--title{
  margin-bottom: 20px;
}
.picture__bullets{
  display: flex;
}
.picture__bullet{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.bullet__text{
  font-size: 12px;
}
.bullet{
  height: 12px;
  width: 12px;
  margin-right: 5px;
}

/* CAMERA CAPTURE */

.selfie__row{
  display: flex;
  flex-direction: column;
  position: relative;
}
.upper__section{
  min-height: 450px;
  /* max-height: 500px; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  /* position: absolute; */
}
.lower__section{
  margin-top: auto;
  /* margin-top: 800px; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  color: white;
  bottom: 10px;
}
.camera__container{
  position: relative;
  width: 100%;
  max-height: 600px; 
  aspect-ratio: 3/4; 
  /* background: #000; */
  overflow: hidden;
} 
.video__screen{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.selfie__camera--wrapper{
  position: absolute;
  z-index: 1;
  margin-right: 5px;
}
.take__pic{
  margin-right: 10px;
}
.backIconWhite, 
.proceed__button{
  height: 50px;
  margin-left: 10px;
}
.proceed__button{
  margin-right: 30px;
}
.camera__container{
  position: relative;
}
.camera__status{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 5; */
  color: #fff;
  font-size: 16;
}

@media(max-width: 940px){

/* HOME PAGE */
.content__title--text{
  font-size: 42px;
}
.rectangle__left, 
.rectangle__right{
  transform: rotate(180deg);
  height: 400px;
}
.landing__left--btn{
  display: none;
}
.landing__content{
  display: flex;
  justify-content: center;
  align-items: center; 
}
.landing__content{
  position: relative;
}
.landing__lower{
  text-align: center;
}

/* RESULT */

.results__rombuses{
  margin-right: 0px;
}
.results__rombuses--img{
  width: 400px;
  height: 400px;
}
.camera__img{
  left: 115px;
  top: 135px;
}
.camera__text{
  left: 200px;
  top: 71px;
}
.gallery__img{
  right: 115px;
  top: 135px;
}
.gallery__text{
  right: 180px;
  top: 260px;
}

/* SELECT*/

.select__rombuses--img{
  height: 550px;
  width: 550px;
}
.demographics,
.skinTypeDetails,
.weather,
.cosmeticConcerns{
  height: 150px;
}
.dem__btn{
  top: 105px;
}
.weather__btn{
  top: 300px;
}
.skin__btn{
  left: 385px;
}
.cosmetic__btn{
  right: 385px;
}


/* DEMOGRAPHICS */

.demographics__title{
  font-size: 42px;
}
.select__btn,
.category__option--text{
  font-size: 14px;
}
.display__title{
  font-size: 30px;
}
.content{
  width: 30%;
  min-height: 400px;
}
.content__title{
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.races__btn,
.ages__btn,
.sex__btn,
.ages,
.sexes,
.races{
  font-size: 14px;
}
.display{
  max-height: 400px;
}

/* CAMERA */

.proceed__button{
  display: none;
}
.take__pic{
  width: 130px;
}
.picture__guidelines{
  padding-right: 80px;
}
}

@media (max-width: 768px){
  .demographics__input--text {
        font-size: 42px;
    }
  .demographics__input{
    width: 350px;
  }

  /* RESULT */

  .results__wrapper{
    display: flex;
    flex-direction: column;
  }
  .results__rombuses--img{
    height: 300px;
    width: 300px;
  }
  .camera__img{
  left: 235px;
  top: 90px;
}
.camera__text{
  left: 300px;
  top: 25px;
}
.gallery__img{
  left: 240px;
  top: 380px;
}
.gallery__text{
  right: 320px;
  top: 500px;
}

/* SELECT */

.skin__btn{
  left: 320px;
}
.cosmetic__btn{
  right: 320px;
}
.select__title,
.select__subtitle{
  font-size: 14px;
}

/* DEMOGRAPHICS */

.demographics__wrapper{
  display: flex;
  flex-direction: column;
}
.display,
.content,
.categories{
  width: 100%;
}
.content__title{
  display: flex;
  flex-direction: row;
  font-size: 14px;
}
.demographics__title, 
.demographics__subtitle{
  padding: 10px 0;
}
.page__buttons--text{
  display: none;
}

/* CAMERA */

.backIconWhite{
  height: 40px;
}
}

@media(max-width: 667px){
  .content__title--text{
    font-size: 28px;
    margin-bottom: 40px;
  }
  .landing__content--text{
    font-size: 14px;
    max-width: 300px;
  }
  .landing__upper{
    margin-bottom: 20px;
  }
  .landing__right--btn{
    right: 40%;
    top: 65%;
    width: 100px;
  }
  .landing__upper{
    position: relative;
  }
 
}

@media(max-width: 550px){
  .landing__right--btn{
    top: 60%;
  }
  .landing__content--text{
    font-size: 12px;
    margin-bottom: 25px;;
  }

  /* RESULT */

  .camera__img{
  left: 180px;
  top: 90px;
}
.camera__text{
  left:260px;
  top: 25px;
}
.gallery__img{
  left: 180px;
  top: 380px;
}
.gallery__text{
  right: 280px;
  top: 495px;
}

/* SELECT */

.skin__btn{
  left: 265px;
}
.cosmetic__btn{
  right: 265px;
}

/* CAMERA */

.take__pic{
  width: 100px;
}
.picture__guidelines--title{
  text-align: center;
  font-size: 14px;
}

}