@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 100%;
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
  color: inherit;
}

.row {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.container {
  padding: 20px 0;
  width: 100%;
}

/* NAVBAR */

.nav{
  height: 64px;
}
.nav__text{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__text--company{
  font-size: 12px;
  font-weight: bold;
  margin-right: 5px;
  letter-spacing: -0.05em;
}
.nav__text--page{
  font-size: 12px;
}
.nav__btn{
  background-color: black;
  color: white;
  padding: 7px 10px;
  font-size: 10px;
}
.nav__wrapper{
  display: flex;
  justify-content: space-between;
}
.nav__left{
  display: flex;
}

/* LANDING */

.landing__content{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;
  align-items: center; */
  width: 100%;
}
.landing__upper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.landing__lower{
  position: absolute;
  bottom: 50px;
}
.landing__left
.landing__right{
  display: flex;
  justify-content: center;
  position: relative;
}
.landing__left--btn,
.landing__right--btn{
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
  margin-left: 5%;
}
.rectangle__left
.rectangle__right{
  position: absolute;
  z-index: -1;
}
.content__title--text{
  font-size: 90px;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  line-height: 1;
}
.landing__content--text{
  width: 400px;
  font-size: 16px;
  margin-left: 10px;
}

/* TESTING */

.testing__row{
  
}
.testing__wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.demographics__input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  width: 500px;
  position: absolute;
}
.input__title{
  font-size: 14px;
  font-weight: 400;
}
.demographics__input--text{
  text-align: center;
  font-size: 60px;
}
.demographics__input--text:focus{
  outline: none;
  box-shadow: none;
}
.rombuses__img{
  height: 600px;
}

/* RESULTS */

.results__wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.results__rombuses{
  margin-right: 100px;
}
.results__rombuses__img{
  width: 500px;
  height: 500px;
}
.camera__img,
.camera__text,
.gallery__img,
.gallery__text{
  position: absolute;
}
.camera__img{
  left: 315px;
  top: 190px;
  transition: 500ms ease;
}
.camera__img:hover{
  transform: scale(1.1);
}
.camera__text{
  left: 430px;
  top: 148px;
}
.gallery__img{
  right: 410px;
  top: 190px;
  transition: 500ms ease;
}
.gallery__img:hover{
  transform: scale(1.1);
}
.gallery__text{
  right: 519px;
  top: 300px;
}

/* SELECT */

.select__wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.select__title{
  font-weight: bold;
}
.select__rombuses--img{
  width: 700px;
}
.dem__btn, 
.cosmetic__btn,
.weather__btn,
.skin__btn{
  position: absolute;
}
.dem__btn{
  cursor: pointer;
  transition: 300ms ease;
}
.dem__btn:hover{
  transform: scale(1.05)
}
.dem__btn{
  top: 127px;
}
.weather__btn{
  top: 353px;
}
.skin__btn{
  left: 507px;
}
.cosmetic__btn{
  right: 507px;
}
.page__buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}
.page__buttons--text{
  color: gray;
  font-size: 14px;
}

/* DEMOGRAPHICS */

.demographics__text{
  margin-bottom: 3%;
  line-height: 1;
  margin-left: 0;
}
.demographics__title{
  font-size: 64px;
}
.demographics__subtitle{

}
.demographics__wrapper{
  width: 100%;
  display: flex;
  gap: 1em;
}
.categories{
  width: 15%;
}
.race,
.age,
.sex{
  height: 80px;
  width: 100%;
  background-color: rgb(242, 242, 255);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
  border-top: solid black 1px;
  cursor: pointer;
}
.select__btn{
  transition: 300ms ease;
}
.select__btn:hover{
  background-color: rgb(217, 228, 238);
}
.select__btn.selected{
  background-color: #242424;
  color: #fff;
}
.option__btn:not(:focus-within):hover{
  background-color: rgb(217, 228, 238);
}
.option__btn:focus-within{
  background-color: #242424;
  color: #fff;
}
.option__btn input[type="radio"]{
  appearance: none;
  width: 10px;
  height: 10px;
  border: 2px solid #777;
  transform: rotate(45deg);
  background-color: rgb(242, 242, 255);
  cursor: pointer;
  margin-top: 7px;
  margin-right: 5px;
}
.options__btn input[type="radio"]:checked{
  background-color: white;
  /* border-color: #fff; */
}
.category__option{
  margin-top: 5px;
}
.display{
  height: 450px;
  width: 65%;
  background-color: rgb(242, 242, 255);
  border-top: solid black 1px;
}
.display__title{
  font-size: 42px;
  padding: 10px 20px;
}
.content{
  width: 20%;
  height: 100%;
  background-color: rgb(242, 242, 255);
  border-top: solid black 1px;
}
.content__title{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 18px;
}
.races__btns,
.ages__btns,
.sex__btns {
  display: flex;
  flex-direction: column;
}
.races__btn,
.ages__btn,
.sex__btn {
  display: flex;
  padding: 10px;
}
.radio__btn{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.races,
.ages,
.sexes {
  text-align: left;
  font-size: 18px;
  padding-left: 10px
}
.proceed__btns{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
}
.reset__btn{
  font-size: 12px;
  padding: 5px;
  height: 28px;
  width: 60px;
  border: 2px solid black;
}
.confirm__btn{
  font-size: 12px;
  padding: 5px;
  height: 28px;
  width: 72px;
  background-color: black;
  color: white;
}
.percentage__ring{
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}
.percentage__ring--outer{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.percentage__ring--inner{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CAMERA MODAL */

.modal__wrapper{
  /* height: 100px;
  width: 250px; */
  display: flex;
  flex-direction: column;
}
.upper__modal,
.lower__modal{
  background-color: #242424;
  color: #fff;
}
.upper__modal{
  border-bottom: solid 1px white;
  height: 75px;
  width: 275px;
}
.lower__modal{
  display: flex;
  justify-content: flex-end;
  height: 30px;
  width: 275px;
}
.modal__btn{
  padding: 6px 12px;
  cursor: pointer;
}
.modal__text{
  font-size: 12px;
  padding: 8px;
}
.modal__text--btn{
  font-size: 10px;
  letter-spacing: 1.05;
}

/* LOADING PAGES */

.loading__wrapper{
  display: flex;
  flex-direction: column;
}
.loading__upper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.loading__analysis--text{
  position: absolute;
}
.loading__camera--text{
  position: absolute;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;  
}
.picture__guidelines{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.picture__guidelines--title{
  margin-bottom: 20px;
}
.picture__bullets{
  display: flex;
}
.picture__bullet{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.bullet__text{
  font-size: 12px;
}
.bullet{
  height: 12px;
  width: 12px;
  margin-right: 5px;
}

/* CAMERA CAPTURE */

.selfie__row{
  display: flex;
  flex-direction: column;
  position: relative;
}
.upper__section{
  min-height: 450px;
  /* max-height: 500px; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  /* position: absolute; */
}
.lower__section{
  margin-top: auto;
  /* margin-top: 800px; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  color: white;
  bottom: 10px;
}
.camera__container{
  position: relative;
  width: 100%;
  max-height: 600px; 
  aspect-ratio: 3/4; 
  /* background: #000; */
  overflow: hidden;
} 
.video__screen{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.selfie__camera--wrapper{
  position: absolute;
  z-index: 1;
  margin-right: 5px;
}
.take__pic{
  margin-right: 10px;
}
.backIconWhite{
  height: 50px;
  margin-left: 10px;
}